app/services/ccms/wsdls/ClientProxyServicePRODWsdl.xml

<?xml version="1.0" encoding="UTF-8" ?>
<wsdl:definitions name="ClientService" targetNamespace="http://legalservices.gov.uk/CCMS/ClientManagement/Client/1.0/ClientServices" 
  xmlns:ns1="http://legalservices.gov.uk/CCMS/ClientManagement/Client/1.0/ClientBIM" 
  xmlns:plnk="http://schemas.xmlsoap.org/ws/2003/05/partner-link/" 
  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
  xmlns:tns="http://legalservices.gov.uk/CCMS/ClientManagement/Client/1.0/ClientServices" 
  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
  xmlns:wsse="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd">
  <wsdl:documentation>
    <abstractWSDL>http://ccmsebsprod.lab.gov:80/soa-infra/services/default/ClientServices!1.0/ClientProxyService.wsdl</abstractWSDL>
  </wsdl:documentation>
  <plnk:partnerLinkType name="CreateClient">
    <plnk:role name="CreateClientProvider">
      <plnk:portType name="CreateClient" />
    </plnk:role>
  </plnk:partnerLinkType>
  <plnk:partnerLinkType name="UpdateClient">
    <plnk:role name="UpdateClientProvider">
      <plnk:portType name="UpdateClient" />
    </plnk:role>
  </plnk:partnerLinkType>
  <plnk:partnerLinkType name="GetClientDetails">
    <plnk:role name="GetClientDetailsProvider">
      <plnk:portType name="GetClientDetails" />
    </plnk:role>
  </plnk:partnerLinkType>
  <plnk:partnerLinkType name="GetClientTxnStatus">
    <plnk:role name="GetClientTxnProvider">
      <plnk:portType name="GetClientTxnStatus" />
    </plnk:role>
  </plnk:partnerLinkType>
  <wsp:Policy xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy"
    xmlns="http://schemas.xmlsoap.org/ws/2004/09/policy" 
    xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" wsu:Id="wss_username_token_service_policy" 
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <sp:SupportingTokens xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
      <wsp:Policy>
        <sp:UsernameToken sp:IncludeToken="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy/IncludeToken/AlwaysToRecipient">
          <wsp:Policy>
            <sp:WssUsernameToken10 />
          </wsp:Policy>
        </sp:UsernameToken>
      </wsp:Policy>
    </sp:SupportingTokens>
  </wsp:Policy>
  <wsdl:types>
    <schema xmlns="http://www.w3.org/2001/XMLSchema">
      <import namespace="http://legalservices.gov.uk/CCMS/ClientManagement/Client/1.0/ClientBIM" schemaLocation="https://ccmssoagateway.legalservices.gov.uk/ccmssoa/soa-infra/services/default/ClientServices/apps/lsc/Schema/BusinessObjects/CCMS/ClientManagement/Client/1.0/ClientBIM.xsd" />
      <import namespace="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd" schemaLocation="https://ccmssoagateway.legalservices.gov.uk/ccmssoa/soa-infra/services/default/ClientServices/apps/lsc/Schema/BusinessObjects/Enterprise/External/oasis/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd" />
    </schema>
  </wsdl:types>
  <wsdl:message name="CreateClientRequestMessage">
    <wsdl:part name="payload" element="ns1:ClientAddRQ" />
  </wsdl:message>
  <wsdl:message name="CreateClientResponseMessage">
    <wsdl:part name="payload" element="ns1:ClientAddRS" />
  </wsdl:message>
  <wsdl:message name="UpdateClientRequestMessage">
    <wsdl:part name="payload" element="ns1:ClientUpdateRQ" />
  </wsdl:message>
  <wsdl:message name="UpdateClientResponseMessage">
    <wsdl:part name="payload" element="ns1:ClientUpdateRS" />
  </wsdl:message>
  <wsdl:message name="GetClientDetailsRequestMessage">
    <wsdl:part name="payload" element="ns1:ClientInqRQ" />
  </wsdl:message>
  <wsdl:message name="GetClientDetailsResponseMessage">
    <wsdl:part name="payload" element="ns1:ClientInqRS" />
  </wsdl:message>
  <wsdl:message name="GetClientTxnStatusRequestMessage">
    <wsdl:part name="payload" element="ns1:ClientAddUpdtStatusRQ" />
  </wsdl:message>
  <wsdl:message name="GetClientTxnStatusResponseMessage">
    <wsdl:part name="payload" element="ns1:ClientAddUpdtStatusRS" />
  </wsdl:message>
  <wsdl:message name="UsernameToken">
    <wsdl:part name="Security" element="wsse:Security" />
  </wsdl:message>
  <wsdl:portType name="ClientServices">
    <wsdl:operation name="CreateClient">
      <wsdl:input message="tns:CreateClientRequestMessage" />
      <wsdl:output message="tns:CreateClientResponseMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateClient">
      <wsdl:input message="tns:UpdateClientRequestMessage" />
      <wsdl:output message="tns:UpdateClientResponseMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetClientDetails">
      <wsdl:input message="tns:GetClientDetailsRequestMessage" />
      <wsdl:output message="tns:GetClientDetailsResponseMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetClientTxnStatus">
      <wsdl:input message="tns:GetClientTxnStatusRequestMessage" />
      <wsdl:output message="tns:GetClientTxnStatusResponseMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ClientServicesSOAPBinding" type="tns:ClientServices">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
    <wsp:PolicyReference xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" URI="#wss_username_token_service_policy" wsdl:required="false" />
    <wsdl:operation name="CreateClient">
      <soap:operation style="document" soapAction="http://legalservices.gov.uk/CCMS/ClientManagement/Client/1.0/ClientServices/CreateClient" />
      <wsdl:input>
        <soap:body use="literal" parts="payload" />
        <soap:header message="tns:UsernameToken" part="Security" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" parts="payload" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateClient">
      <soap:operation style="document" soapAction="http://legalservices.gov.uk/CCMS/ClientManagement/Client/1.0/ClientServices/UpdateClient" />
      <wsdl:input>
        <soap:body use="literal" parts="payload" />
        <soap:header message="tns:UsernameToken" part="Security" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" parts="payload" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetClientDetails">
      <soap:operation style="document" soapAction="http://legalservices.gov.uk/CCMS/ClientManagement/Client/1.0/ClientServices/GetClientDetails" />
      <wsdl:input>
        <soap:body use="literal" parts="payload" />
        <soap:header message="tns:UsernameToken" part="Security" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" parts="payload" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetClientTxnStatus">
      <soap:operation style="document" soapAction="http://legalservices.gov.uk/CCMS/ClientManagement/Client/1.0/ClientServices/GetClientTxnStatus" />
      <wsdl:input>
        <soap:body use="literal" parts="payload" />
        <soap:header message="tns:UsernameToken" part="Security" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" parts="payload" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ClientServices_ep">
    <wsdl:port name="ClientServices_pt" binding="tns:ClientServicesSOAPBinding">
      <soap:address location="https://ccmssoagateway.legalservices.gov.uk/ccmssoa/soa-infra/services/default/ClientServices/ClientServices_ep" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
