app/services/ccms/wsdls/GetReferenceDataUATWsdl.xml

<?xml version="1.0" encoding="UTF-8" ?>
<wsdl:definitions
     name="GetReferenceData"
     targetNamespace="http://legalservices.gov.uk/CCMS/Common/ReferenceData/1.0/GetReferenceData"
     xmlns:ns2="http://schemas.oracle.com/bpel/extension"
     xmlns:ns1="http://legalservices.gov.uk/CCMS/Common/ReferenceData/1.0/ReferenceDataBIM"
     xmlns:plnk="http://schemas.xmlsoap.org/ws/2003/05/partner-link/"
     xmlns:client="http://legalservices.gov.uk/CCMS/Common/ReferenceData/1.0/GetReferenceData"
     xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
     xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
     xmlns:wsse="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd"
    >
    <wsdl:documentation>
        <abstractWSDL>https://ccmssoagateway.uat.legalservices.gov.uk/ccmssoa/soa-infra/services/default/GetReferenceData!2.0/GetReferenceData.wsdl</abstractWSDL>
    </wsdl:documentation>
    <plnk:partnerLinkType name="GetReferenceData">
        <plnk:role name="GetReferenceDataProvider">
            <plnk:portType name="client:GetReferenceData"/>
        </plnk:role>
    </plnk:partnerLinkType>
<wsp:Policy xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" wsu:Id="wss_username_token_service_policy" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
   <sp:SupportingTokens xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
      <wsp:Policy>
         <sp:UsernameToken sp:IncludeToken="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy/IncludeToken/AlwaysToRecipient">
            <wsp:Policy>
               <sp:WssUsernameToken10/>
            </wsp:Policy>
         </sp:UsernameToken>
      </wsp:Policy>
   </sp:SupportingTokens>
</wsp:Policy>    <wsdl:import namespace="http://schemas.oracle.com/bpel/extension" location="https://ccmssoagateway.uat.legalservices.gov.uk/ccmssoa/soa-infra/services/default/GetReferenceData/getreferencedata_ep?WSDL=RuntimeFault.wsdl"/>
    <wsdl:types>
        <schema xmlns="http://www.w3.org/2001/XMLSchema">
            <import namespace="http://legalservices.gov.uk/CCMS/Common/ReferenceData/1.0/ReferenceDataBIM"
                 schemaLocation="https://ccmssoagateway.uat.legalservices.gov.uk/ccmssoa/soa-infra/services/default/GetReferenceData/apps/lsc/Schema/BusinessObjects/CCMS/Common/ReferenceData/1.0/ReferenceDataBIM.xsd"/>
            <import namespace="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd"
                 schemaLocation="https://ccmssoagateway.uat.legalservices.gov.uk/ccmssoa/soa-infra/services/default/GetReferenceData/apps/lsc/Schema/BusinessObjects/Enterprise/External/oasis/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd"/>
        </schema>
    </wsdl:types>
    <wsdl:message name="GetReferenceDataRequestMessage">
        <wsdl:part name="payload" element="ns1:ReferenceDataInqRQ"/>
    </wsdl:message>
    <wsdl:message name="GetReferenceDataResponseMessage">
        <wsdl:part name="payload" element="ns1:ReferenceDataInqRS"/>
    </wsdl:message>
    <wsdl:message name="UsernameToken">
        <wsdl:part name="Security" element="wsse:Security"/>
    </wsdl:message>
    <wsdl:portType name="GetReferenceData">
        <wsdl:operation name="process">
            <wsdl:input message="client:GetReferenceDataRequestMessage"/>
            <wsdl:output message="client:GetReferenceDataResponseMessage"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="GetReferenceDataSOAPBinding" type="client:GetReferenceData">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
      <wsp:PolicyReference xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" URI="#wss_username_token_service_policy" wsdl:required="false"/>
        <wsdl:operation name="process">
            <soap:operation style="document" soapAction="http://legalservices.gov.uk/CCMS/Common/ReferenceData/1.0/GetReferenceData/process"/>
            <wsdl:input>
                <soap:body use="literal" parts="payload"/>
                <soap:header message="client:UsernameToken" part="Security" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="payload"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="getreferencedata_ep">
        <wsdl:port name="GetReferenceData_pt" binding="client:GetReferenceDataSOAPBinding">
            <soap:address location="https://ccmssoagateway.uat.legalservices.gov.uk/ccmssoa/soa-infra/services/default/GetReferenceData/getreferencedata_ep"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
